<div class="sub_header">
    <div>
        <!-- Button to open the user creation/edit modal -->
        <div class="btn_sub" onclick="common.user_edit_window(0, event);">Add</div>
    </div>
    <div>
        <!-- Paginator rendered from server side -->
        <div id="paginator">{$paginator}</div>
        <!-- Search bar: filters by phone, first name, last name and email -->
        <div class="input_group">
            <i class="icon_search"></i>
            <input id="search" type="text" value="{$search}" placeholder="Search" oninput="common.search_do('users');">
        </div>
    </div>
</div>
<!-- The users list is rendered into the table container -->
<div id="table">
    {include file="./partials/users_table.html"}
</div>